{{define "layout"}}
<!doctype html>
<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="utf-8">
    <meta name="theme-color" content="#1a3d5c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{template "title"}}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.5/b-3.2.5/fh-4.0.5/rg-1.6.0/datatables.min.css" rel="stylesheet"
        integrity="sha384-lxclih9Dm3tbiTP9cvS3iaEtXN8TuiXVUEZeBPasVyYaZhDanRPAUPoRS/7fwGm5" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/dt/dt-2.3.5/b-3.2.5/fh-4.0.5/rg-1.6.0/datatables.min.js"
        integrity="sha384-9oq/d9gOBJnX8arQLUWbPc6UvRlf+REbbg9QAJuQRAAESBWSZM7XAX/M2/MtUh+i"
        crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="static/tablestyle.css" />
    <link type="text/css" rel="stylesheet" href="static/datastyle.css" />
</head>

<body style="background-color: white;">
    <div id="main">
        {{template "body"}}
    </div>
    <script type="text/javascript" src="static/sclh.js"></script>
</body>

</html>
{{end}}